h4 {
  color: white;
  background-color: black;
  margin-top: 24px;
  margin-bottom: 0;
  padding: 4px;
  padding-left: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.table-bordered {
  font-size: 12px;
}

.table-bordered > thead > tr > th {
  color: black;
  background-color: #EEE; 
  border-color: #AAA;
}

.table-bordered > tbody > tr > td:first-child {
  width:240px;
}

.table-bordered > thead > tr > th {
  border: 1px solid black;
}


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #999;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  padding: 4px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}
