

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.productPanel {
    height: 200px;
}

.panel-body {
    font-size: 0.9em;
}


.product-image{
    float: right; 
    width: 56px;
}



#left-nav {
    background-color: #DDD;
    border: 1px solid #444;
    padding-bottom: 4px;
}

#left-nav-title{
    background-color: black;
    color: white;
    padding: 8px;
}


#left-nav li > a {
    padding: 4px;
    padding-left: 12px;
}

#left-nav li > a:first-child {
    padding-top: 12px;
}
