@{
    ViewBag.Title = "Home Page";

    string WelcomeMessage = System.Configuration.ConfigurationManager.AppSettings["WelcomeMessage"];
}

<div class="jumbotron">
    <h1>My Web App V2</h1>
    <p>@WelcomeMessage</p>
</div>

