
<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend>Create a new Unified Group</legend>
        <div class="form-group">
          <label for="inputGroupName" class="col-lg-4 control-label">Group Name</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputGroupName" ng-model="group.GroupName" placeholder="Group Name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-4">
            <input type="button" class="btn btn-primary" value="Add Group" data-ng-click="actions.addGroup()" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>


<hr />

<a href="#/groups">Return to Groups list</a>
