
<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend>Send new mail message</legend>

        <div class="form-group">
          <label for="inputTo" class="col-lg-4 control-label">To</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputTo" ng-model="message.To" placeholder="To">
          </div>
        </div>

        <div class="form-group">
          <label for="inputSubject" class="col-lg-4 control-label">Subject</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputSubject" ng-model="message.Subject" placeholder="Subject">
          </div>
        </div>

        <div class="form-group">
          <label for="inputBody" class="col-lg-4 control-label">Body</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputBody" ng-model="message.Body" placeholder="Message Body">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-4">
            <input type="button" class="btn btn-primary" value="Send Message" data-ng-click="actions.sendMessage()" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

