<h3>Add Product</h3>
<hr/>
<div class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="txtName" class="col-lg-2 control-label">Name:</label>
            <div class="col-lg-4">
                <input id="txtName" type="text" class="form-control" ng-model="vm.product.Name" required >
            </div>
        </div>
        <div class="form-group">
            <label for="txtCategory" class="col-lg-2 control-label">Category:</label>
            <div class="col-lg-4">
                <select ng-model="vm.product.Category" required  >
                    <option value="" disabled selected>--- select a product category ---</option>
                    <option ng-repeat="category in vm.productCategories" ng-value="category" >{{category}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="txtListPrice" class="col-lg-2 control-label">List Price:</label>
            <div class="col-lg-4">
                <input id="txtListPrice" type="text" class="form-control" ng-model="vm.product.ListPrice" required >
            </div>
        </div>
        <div class="form-group">
            <label for="txtDescription" class="col-lg-2 control-label">Description:</label>
            <div class="col-lg-4">
                <textarea id="txtDescription" rows="3" class="form-control" ng-model="vm.product.Description" />
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-4">
                <input id="cmdSave" type="button" class="btn btn-primary" value="Save" ng-click="vm.addProduct()" />
                &nbsp;
                <a href="/products" class="btn btn-primary" role="button" >Cancel</a>
            </div>
        </div>
    </fieldset>

</div>
